<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <logging>
        <log type="coverage-html" target="/home/fedys/temp/coverage"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="SolrTest">
            <directory>./SolrTest</directory>
        </testsuite>
    </testsuites>
</phpunit>